.hover-cards {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.hover-cards .red {
  background-color: rgba(255, 65, 65, 0.879)
}

.hover-cards .green {
  background-color: #5de2ae;
}

.hover-cards .blue {
  background-color: #4bb8ff
}

.hover-cards .hover-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100px;
  width: 280px;
  border-radius: 10px;
  color: rgb(7, 7, 7);
  cursor: pointer;
  transition: 400ms;
}

.hover-cards .hover-card p.tip {
  font-size: 1em;
  font-weight: 700;
}

.hover-cards .hover-card p.second-text {
  font-size: .7em;
}

.hover-cards .hover-card:hover {
  transform: scale(1.1, 1.1);
}

.hover-cards:hover > .hover-card:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}