.support-card {
  width: 220px;
  height: 264px;
  background: rgba(140, 140, 138, 0.472);
  font-family: inherit;
  position: relative;
  border-radius: 8px;
}

.quote {
  color: rgb(223, 248, 134);
  padding: 40px 30px 0;
  position: relative;
}

.support-card-name {
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(127, 155, 29);
  padding: 15px;
  line-height: 23px;
}

.body-text {
  font-size: 20px;
  font-weight: 900;
  padding: 50px 20px 0 40px;
  color: #465512;
  position: absolute;
  top: 40px;
  left: 1px;
  line-height: 23px;
}

.author {
  margin-top: 5px;
  opacity: 0;
  transition: 0.5s;
}

.support-card:hover .author {
  opacity: 1;
}

.pic {
  width: 50px;
  height: 50px;
  background-color: rgb(158, 196, 21);
  border-radius: 50%;
}

.author-container {
  display: flex;
  align-items: center;
}

.author {
  font-weight: 700;
  color: rgb(127, 155, 29);
  padding-left: 70px;
}

.support-card .author svg {
  display: inline;
  font-size: 12px;
  color: rgba(128, 155, 29, 0.452);
}